*{
    margin: 0;

    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --bg-color: #000000 ;
    --primary-text-color :#dddddd;
    --nav-padding : 15px 30px ;
    --section-padding :  15px 30px;
    --padding-s : 5px ;
    --padding-m : 10px ;
    --padding-m : 15px ;
    --padding-xl: 20px ;
    --padding-xxl : 30px ;
    --bg-button-color : #1a1a1a;
    --bg-task-color : #2a2a2a;
    --delete-color :#952828 ;
    


    --radius-none: 0;
 --radius-sm: 2px ;
 --radius-md: 6px ;
 --radius-lg: 12px ;
 --radius-xl: 24px;
}
main{
    height: 100%;
    display: flex;
    flex-direction: column;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}

nav{
    padding: var(--nav-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;

}
nav button {
    background-color: var(--bg-button-color);
    border: none;
    outline: none;
    color: var(--primary-text-color);
    padding: var(--padding-m) var(--padding-xl);
    cursor: pointer;
    border-radius:var(--radius-md) ;


}
section{
    padding: var(--section-padding);
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: var(--padding-xxl);

}

section .task-col {
    background-color: var(--bg-button-color);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: var(--padding-m);
   border-radius: var(--radius-md);
transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1)
}
section .task-col.hover-over{
    border: 2px dashed var(--primary-text-color);
    scale: 1.05;
}

section .task-col .heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .task-col .task {
background-color: var(--bg-task-color);
 padding: var(--padding-m);
    border-radius: var(--radius-md);
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
    cursor: grab;
}
section .task-col .task button {
    align-self: flex-end;
    cursor: pointer;
    padding: var(--padding-s) var(--padding-m);
    border-radius: var(--radius-sm);
    border: none;
    outline: none;
    background-color: var(--delete-color);
    color: var(--primary-text-color);
}
